.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #CCCCCC;
    height: 100%;
}

.app-header__icon {
    width: 32px;
    height: 32px;
    line-height: 0;
}

.app-header__content {
    margin-left: 12px;
    flex-grow: 1;
    overflow: hidden;
}

.app-header__controls {
    margin-left: 12px;
}

.app-header__app-logo {
    line-height: initial;
    margin-right: 12px;
}

.app-header__app-menu {
    flex: 1 1 0;
    min-width: 0;
}

.app-header__icon-btn.ant-btn-text {
    color: #CCCCCC;
}

.app-header__icon-btn.ant-btn-text:hover {
    color: #FFF;
}

.app-header__icon-btn.ant-btn-text:focus {
    color: #FFF;
}
